<div xmlns:th="http://www.thymeleaf.org">
	<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/product/list}">Home</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<th:block sec:authorize="!isAuthenticated()">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/security/login/form}">Sign In</a>
						</li>
					</th:block>
					<th:block sec:authorize="isAuthenticated()">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/security/logoff}">Sign Out</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/order/list}">Your Orders</a>
						</li>
						<th:block sec:authorize="hasRole('DIRE') or hasRole('STAF')">
							<li class="nav-item">
								<a class="nav-link" th:href="@{/admin/home/index}">Administration</a>
							</li>
						</th:block>

					</th:block>

				</ul>
				<th:block sec:authorize="isAuthenticated()">
				<ul class="nav navbar-nav navbar-right">
					<li class="nav-item"><a href="#" class="nav-link" th:text="'Welcome ' + ${#authentication.principal.username}"></a></li>
				</ul>
				</th:block>
			</div>
		</div>
	</nav>

</div>